body{
	background: #555;
	max-width: 1920px;
	min-width: 640px;
	font:100%/1.5em;
	font-family: 'MavenProRegular', sans-serif;
}

@font-face {
    font-family: 'Lato-Regular';
    src: url('../font/Lato-Regular.eot');
    src: url('../font/Lato-Regular.eot?#iefix') format('embedded-opentype'),
         url('../font/Lato-Regular.woff') format('woff'),
         url('../font/Lato-Regular.ttf') format('truetype'),
         url('../font/Lato-Regular.svg#Lato-Regular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'MavenProRegular';
    src: url('../font/MavenProRegular.eot');
    src: url('../font/MavenProRegular.eot?#iefix') format('embedded-opentype'),
         url('../font/MavenProRegular.woff') format('woff'),
         url('../font/MavenProRegular.ttf') format('truetype'),
         url('../font/MavenProRegular.svg#MavenProRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}
.clear{
	clear:both;
}

/*.wrapper{
	width: 1072px;
	margin: 0 auto;
}*/
.header{
	position: fixed;
	height: 64px;
	width: 100%;
	background: #323232;
}
.test{
	width: 600px;
	height: 900px;

}

.left_nav,
.right_nav{
	margin: 0;
	padding: 20px 0px 23px;
}

.left_nav li,
.right_nav li{
	list-style: none;
	display: inline-block;
}


.left_nav li a,
.right_nav li a{
	text-decoration: none;
	color: #ffffff;
	font-size: 12px;
	text-transform: uppercase;
	padding: 0 15px;
}

.left_nav{
	float: right;
}


.left_nav:after {
	 content:"";
	 display:block;
	 position:absolute;
	top: 76px;
	left: 11%;
	width: 34%;
    height: 1px;
	background: #fff;
}

.right_nav{
	float: left;
}

.right_nav:after {
	 content:"";
	 display:block;
	 position:absolute;
	top: 76px;
	right: 11%;
	width: 34%;
    height: 1px;
	background: #fff;
}



.left_nav .active{
	color: #2eb398;
}

.gray_border{
	padding: 12px 0 0 0;
	height: 24px;
	background: #fff;
	width: 100%;

}
.gray_border>div{
	margin: 0 auto;
	width: 80%;
	height: 1px;
	background: #e4e9eb;
}
.green_bg{
	padding: 12px 0;
	background: #2eb398;
}

.vika{
	width: 821px;
	margin: 0 auto;
	padding: 0 21px;
	border-right:1px solid #219d84;
	border-left:1px solid #219d84;
}

.vika>img{
	padding: 52px 18px 0 0;
	vertical-align: top;
}

.text{
	display: inline-block;
	width: 574px;
	text-align: justify;
}
.text>h1{
	color: #fff;
	margin: 0;
	font-size: 30px;
	font-weight: normal;
}

.text>h1+p{
	margin: 0;
	color: #20816d;
	font-size: 18px;
}

.text>h1+p+p{
	font-size: 14px;
	color: #fff;
}
.border_dark{
	background: #fff;
	width: 100%;
	height: 25px;
	padding: 12px 0;
}
.border_dark>div{
	margin: 0 auto;
	width: 80%;
	height: 1px;
	background: #2b2b2b;
}

.form_bg{
	padding: 40px 0 50px;
	background: #323232;
}

.form_wrapper{
	width: 821px;
	margin: 0 auto;
}

.form_wrapper input{

	margin-bottom: 16px;
	border: 0px;
	padding: 0 15px;
	display: block;
	width: 581px;
	height: 39px;
	background: #454545;
}

.form_wrapper textarea{
	padding: 15px 15px;
	border: 0px;
	background: #454545;
	max-height: 152px;
	max-width: 581px;
	min-height: 152px;
	min-width: 581px;
}

.footer{
	position: relative;
	height: 65px;
	width: 100%;
	background: #2a2929;
}

.logo_bottom{
	position: absolute;
	top: -48px;
}
/*
.footer .wrapper div{
	display: inline-block;
}

.bottom_logo{
position: absolute;
top: -48px;
}

.footer_left{
	float: left;
	height: 65px;
	width: 448px;
}

@media screen and (max-width: 1071px;){
	
}*/
@media (max-width: 960px){
	.container.menu{
		/*width: 100%*/
	}
	.left_nav{
		float: left;
	}

	.right_nav{
		float: right;
	}

}
 @media (max-width: 1220px){
	.logo_top img{
		/*margin: 10px 0 0 0;*/
		height: auto;
		width: 100%;
	}
 }



 @media (max-width: 1070px){
	.left_nav li a,
	.right_nav li a{
		padding: 0 7px;
	}
		.logo_top img{
		margin: 10px 0 0 0;

	}

}	
 @media (max-width: 900px){
 	.logo_top img{
		margin: 20px 0 0 0;

	}
 }


 @media (max-width: 900px){
	.container.menu{
		width: 100%
	}
 }